/* ****************** Chat View ****************** */
.chat-popup {
  background-color: darkgray;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 900px;
  height: 500px;
}

.chat-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chat-container {
  width: 100%;
  height: 100%;
}

.message-display {
  overflow: auto;
  height: 80%;
}

.message-input {
  display: flex;
  background-color: aqua;
  height: 20%;
}

.message-input input {
  width: 100%;
  height: 100%;
}

@media (min-width: 481px) {
}
