/* ****************** Navbar ****************** */
.logo img {
  width: 40px;
  /* height: auto; */
}

.logo-text h1 {
  font-size: 18px;
  font-weight: 700;
}

.logo-unauthenticated {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.logo-unauthenticated img {
  width: 18px;
  margin-right: 6px;
}

.logo-unauthenticated .logo-text {
  font-size: 22px;
  font-weight: 700;
}

.navbar-unauthenticated .navbar-toggle {
  display: flex;
  justify-content: flex-end;
  height: 24px;
}

.navbar-unauthenticated .navbar-toggle:hover {
  cursor: pointer;
}

.navbar-unauthenticated .nav-list {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  list-style-type: none;
}

.navbar-unauthenticated .nav-item {
  margin-top: 10px;
}

.navbar-unauthenticated .nav-link {
  color: var(--text-normal);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar-unauthenticated .nav-link.active,
.navbar-unauthenticated .nav-link:hover {
  color: var(--primary-color);
  font-weight: 500;
}

@media (min-width: 481px) {
  .logo-unauthenticated {
    align-items: center;
  }

  .navbar-unauthenticated .navbar-toggle {
    display: none;
  }

  .navbar-unauthenticated {
    display: flex;
    align-items: center;
    align-self: stretch;
  }

  .navbar-unauthenticated .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-unauthenticated .nav-item {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-left: 20px;
  }

  .navbar-unauthenticated .nav-link {
    display: flex;
    align-items: center;
    align-self: stretch;
    color: var(--text-normal);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
  }

  .navbar-unauthenticated .nav-link.active,
  .navbar-unauthenticated .nav-link:hover {
    color: var(--primary-color);
    border-radius: 50px;
    font-weight: 700;
  }
}

@media (min-width: 769px) {
  .navbar-unauthenticated .nav-link {
    padding: 0 10px;
  }
}
