/* ****************** Sidebar ****************** */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-dark);
  transition: width 0.3s ease;
  width: 60px;
  height: 100vh;
  top: 0;
  left: 0;
}

.sidebar.expanded {
  width: 150px;
}

.sidebar-toggle {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 40px;
}

.sidebar nav .nav-list {
  list-style-type: none;
}

.sidebar nav .nav-item {
  margin-top: 20px;
}

.sidebar nav .nav-link {
  display: flex;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.sidebar nav .nav-label {
  display: none;
  color: var(--neutral-4);
  margin-left: 10px;
}

@media (min-width: 481px) {
  .sidebar {
    width: 100px;
  }

  .sidebar.expanded {
    width: 200px;
  }
}
