.add-task {
  display: inline-block;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--text-light);
  text-align: center;
  margin-top: 10px;
  padding: 10px 15px;
}

.add-task:hover {
  background-color: var(--primary-dark);
}
