<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smile</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="logo-image" src="" alt="logo" />
        <span class="logo-text">Smile</span>
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" id="login" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="about" href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer></footer>
    <script src="../static/scripts.js"></script>
  </body>
</html>
