<!-- extend base template -->
{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="../static/css/dashboard.css" />
<link rel="stylesheet" href="../static/css/popup.css" />
{% endblock %}{% block content %}
<main>
  <div class="dashboard-header">
    <div class="logo-text">
      <h1>
        <span style="color: var(--primary); font-weight: 700">Smile</span
        >Guide.ai
      </h1>
    </div>
    <a class="dashboard-header-link view" id="account" data-popup="account"
      ><box-icon name="user-circle"></box-icon
    ></a>
  </div>
  <div class="dashboard-main">
    <h1>Welcome back, {{user.first_name}}!</h1>
    <p class="date-container"><!-- dynamically filling in today's date--></p>
    <div class="dashboard-section">
      {% for label in ["overview", "appointments", "analytics"] %}
      <button class="label-button" onclick="displayDashboard('{{ label }}')">
        <h2>{{ label }}</h2>
      </button>
      {% endfor %}
    </div>
    {% for label in ["overview", "appointments", "analytics"] %}
    <section class="dashboard-content" id="{{ label }}">
      {% include "partials/" + label + ".html" %}
    </section>
    {% endfor %}
  </div>
</main>
<div class="popup-container">
  <!-- dynamic view will go here -->
</div>
{% endblock %} {% block js %}
<script src="../static/js/chat.js"></script>
<script src="../static/js/account.js"></script>
<script src="../static/js/settings.js"></script>
{% endblock %}
