<!-- extend base template -->
{% extends "base.html" %} {% block content %}
<div class="dashboard">
  <section class="sidebar">
    <div class="sidebar-toggle" onclick="toggleSidebar()">
      <box-icon
        name="chevrons-right"
        color="#8D979B"
        animation="burst-hover"
      ></box-icon>
    </div>
    <div class="logo logo-authenticated">
      <img src="../static/images/icon.png" alt="logo" />
    </div>
    <nav class="navbar navbar-authenticated">
      <div class="nav-top">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" id="dashboard" href="/dashboard">
              <box-icon name="chart" color="#8D979B"></box-icon>
              <div class="nav-label">Dashboard</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="calendar" href="/dashboard">
              <box-icon name="calendar" color="#8D979B"></box-icon>
              <span class="nav-label">Calendar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="message" href="/dashboard">
              <box-icon name="message-rounded-dots" color="#8D979B"></box-icon>
              <span class="nav-label">Message</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-bottom">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" id="settings" href="/dashboard">
              <box-icon name="cog" color="#8D979B"></box-icon>
              <span class="nav-label">Settings</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="logout" href="/logout">
              <box-icon name="log-out" color="#8D979B"></box-icon>
              <span class="nav-label">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <div class="main-dashboard">
    <header>
      <div class="logo-text">
        <h1>
          <span style="color: var(--primary-color); font-weight: 700"
            >Smile</span
          >Guide.ai
        </h1>
      </div>
      <a class="nav-link" id="account" href="/dashboard"
        ><box-icon name="user-circle"></box-icon
      ></a>
    </header>
    <main>
      <h1>Welcome back {{user.first_name}}!</h1>
    </main>
  </div>
</div>
{% endblock %}
