<!-- extend base template -->
{% extends "base.html" %}{% block css %}
<link rel="stylesheet" href="../static/css/auth.css" />
{% endblock %} {% block content %}
<section class="auth-section">
  <div class="auth-form-container">
    <h1>Sign up</h1>
    <p>Enter your details below to create an account and get started</p>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form class="auth-form" id="signup-form" method="POST">
      <label for="first-name">First Name</label>
      <input
        type="text"
        id="first-name"
        name="first-name"
        placeholder="First name"
        required
      />

      <label for="last-name">Last Name</label>
      <input
        type="text"
        id="last-name"
        name="last-name"
        placeholder="Last name"
        required
      />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
      />

      <label for="dob">Date of Birth</label>
      <input
        type="date"
        id="dob"
        name="dob"
        placeholder="Date of birth"
        required
      />

      <label for="tel">Phone Number</label>
      <input
        type="tel"
        id="tel"
        name="tel"
        placeholder="Phone number"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      />

      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        placeholder="Confirm password"
        required
      />
      <button type="submit">Signup</button>
    </form>
  </div>
</section>
{% endblock %}
