<!-- extend base template -->
{% extends "base.html" %} {% block content %}
<section class="auth-section">
  <div class="auth-form-container">
    <h1>Sign up</h1>
    <p>Enter your details below to create an account and get started</p>
    <form class="auth-form" id="signup-form" method="POST">
      {{ form.hidden_tag() }}
      <label for="first-name">First Name</label>
      {{ form.first_name(id="first-name") }}

      <label for="last-name">Last Name</label>
      {{ form.last_name(id="last-name") }}

      <label for="email">Email</label>
      {{ form.email(id="email") }}

      <label for="dob">Date of Birth</label>
      {{ form.dob(id="dob") }}

      <label for="tel">Phone Number</label>
      {{ form.tel(id="tel") }}

      <label for="password">Password</label>
      {{ form.password(id="password") }}

      <label for="confirm-password">Confirm Password</label>
      {{ form.confirm_password(id="confirm-password") }} {{
      form.submit(class="auth-button") }}
    </form>
  </div>
</section>
{% endblock %}
