<!-- extend base template -->
{% extends "base.html" %}{% block css %}
<link rel="stylesheet" href="../static/css/auth.css" />
{% endblock %} {% block content %}
<section class="auth-section">
  <div class="auth-form-container">
    <h1>Sign up</h1>
    <p>Enter your details below to create an account and get started</p>
    <form class="auth-form" id="signup-form" method="POST">
      <label for="first-name">First Name</label>
      <input
        type="text"
        id="first-name"
        name="first-name"
        placeholder="First name"
      />
      {% if errors.first_name %}
      <div class="error-message">{{ errors.first_name }}</div>
      {% endif %}

      <label for="last-name">Last Name</label>
      <input
        type="text"
        id="last-name"
        name="last-name"
        placeholder="Last name"
      />
      {% if errors.last_name %}
      <div class="error-message">{{ errors.last_name }}</div>
      {% endif %}

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" />
      {% if errors.email %}
      <div class="error-message">{{ errors.email }}</div>
      {% endif %} {% if errors.user %}
      <div class="error-message">{{ errors.user }}</div>
      {% endif %}

      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" name="dob" placeholder="Date of birth" />
      {% if errors.dob %}
      <div class="error-message">{{ errors.dob }}</div>
      {% endif %}

      <label for="tel">Phone Number</label>
      <input type="tel" id="tel" name="tel" placeholder="Phone number" />
      {% if errors.tel %}
      <div class="error-message">{{ errors.tel }}</div>
      {% endif %}

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      {% if errors.password %}
      <div class="error-message">{{ errors.password }}</div>
      {% endif %}

      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        id="confirm-password"
        name="confirm-password"
        placeholder="Confirm password"
      />
      {% if errors.confirm_password %}
      <div class="error-message">{{ errors.confirm_password }}</div>
      {% endif %}
      <button type="submit">Signup</button>
    </form>
  </div>
</section>
{% endblock %}
