@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2a71a8;
  --body-color: #ffffff;
  --body-color-alt: #dfe4e7;
  --background-dark: #c0c4c6;
  --navbar-color: #ffffff;

  --text-normal: #060606;
  --text-light: #f7fcff;
}

body {
  background-color: var(--body-color);
  color: var(--text-normal);
  font-size: 16px;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--navbar-color);
  padding: 30px;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
}

footer {
  background-color: var(--background-dark);
  height: 100px;
}

/* ****************** Navbar ****************** */
.logo {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.logo-image {
  width: 18px;
  margin-right: 6px;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
}

.navbar-toggle {
  display: flex;
  justify-content: flex-end;
  height: 24px;
}

.navbar-toggle:hover {
  cursor: pointer;
}

.nav-list {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  list-style-type: none;
}

.nav-item {
  margin-top: 10px;
}

.nav-link {
  color: var(--text-normal);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary-color);
  font-weight: 500;
}

@media (min-width: 481px) {
  .logo {
    align-items: center;
  }

  .navbar-toggle {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    align-self: stretch;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-item {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-left: 20px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    align-self: stretch;
    color: var(--text-normal);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--primary-color);
    border-radius: 50px;
    font-weight: 700;
  }
}

@media (min-width: 769px) {
  .nav-link {
    padding: 0 10px;
  }
}

/* ****************** Hero ****************** */
.hero-section {
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding: 20px;
  width: 100%;
  height: calc(100vh - 80px);
}

.hero-image {
  display: none;
}

.hero-content h1 {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin-bottom: 12px;
}

.hero-content p {
  line-height: 24px;
  text-align: center;
  margin-bottom: 18px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.start-button,
.login-button {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  width: 110px;
  height: 36px;
}

.start-button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
}

.login-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

@media (min-width: 769px) {
  .hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 100px 100px;
  }

  .hero-image {
    /* position: relative; */
    display: flex;
    /* align-items: center; */
    /* overflow: hidden; */
    width: 50%;
  }

  .hero-content {
    margin-right: 40px;
    width: 50%;
  }

  .hero-image img {
    background-color: black;
    /* position: absolute; */
    /* object-fit: cover; */
    /* object-position: 50% 40%; */
    width: 100%;
    height: 100%;
  }

  .hero-content h1 {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 24px;
  }

  .hero-content p {
    line-height: 28px;
    text-align: left;
    margin-bottom: 24px;
  }

  .hero-buttons {
    justify-content: flex-start;
    gap: 20px;
  }

  .start-button,
  .login-button {
    font-weight: 700;
    width: 140px;
    height: 44px;
  }
}

/* ****************** Authentication ****************** */
.auth-section {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 20px;
  width: 100%;
  height: calc(100vh - 80px);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

@media (min-width: 481px) {
  .auth-section {
    align-items: center;
    margin-top: 80px;
    padding: 20px;
  }

  .auth-form-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 40px;
  }
}

/* ****************** Dashboard ****************** */
.dashboard-section {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 20px;
  width: 100%;
  height: calc(100vh - 80px);
}
