{% block css %} {% endblock %}
<div class="popup">
  <div class="popup-title">
    <button
      class="popup-close-button"
      type="button"
      onclick="closePopup('account')"
    >
      <box-icon name="x-circle"></box-icon>
    </button>
    <h2>Account Number: {{ user.id }}</h2>
  </div>
  <h4>Name:</h4>
  {{ user.first_name }} {{ user.last_name }}
  <h4>Email:</h4>
  {{ user.email }}
  <h4>Date of birth:</h4>
  {{ user.dob }}
  <h4>Phone number:</h4>
  {{ user.tel }}
  <h4>Primary Dentist:</h4>
  {{ user.dentist_id }}
</div>
