{% block css %}
<link rel="stylesheet" href="../static/css/account.css" />
{% endblock %}
<div class="popup">
  <div class="popup-title">
    <button
      class="popup-close-button"
      type="button"
      onclick="closePopup('account')"
    >
      <box-icon name="x-circle"></box-icon>
    </button>
    <h2>Account Number: {{ user.id }}</h2>
  </div>
  <div class="popup-content">
    <form class="user-form" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          id="name"
          name="name"
          value="{{user.first_name}} {{user.last_name}}"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="dob">Date of birth:</label>
        <input
          id="dob"
          name="dob"
          value="{{user.dob}}"
          focus="disabled"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" name="email" value="{{user.email}}" readonly />
      </div>
      <div class="form-group">
        <label for="tel">Phone:</label>
        <input class="editable" id="tel" name="tel" value="{{user.tel}}" disabled />
        <button class="edit-button" type="button" onclick="editUserInfo('tel')">
          <box-icon name="edit-alt"></box-icon>
        </button>
      </div>
      <div class="form-group">
        <label for="dentist">Primary Dentist:</label>
        <select class="editable" name="dentist_id" id="dentist" disabled>
          <option value="" {% if not user.dentist_id %}selected{% endif %} disabled>Select a primary dentist</option>
          {% for dentist in dentists %}
              <option value="{{ dentist.id }}" {% if user.dentist_id == dentist.id %}selected{% endif %}>
                  {{ dentist.full_name }}
              </option>
          {% endfor %}
        </select>
        <button class="edit-button" type="button" onclick="editUserInfo('dentist')">
          <box-icon name="edit-alt"></box-icon>
        </button>
      </div>
      <button type="submit">Save Changes</button>
    </form>
  </div>
</div>
