<div class="assistant-section">
  <div class="assistant-title">
    <button class="close-assistant" type="button" onclick="closeAiAssistant()">
      <box-icon name="x-circle"></box-icon>
    </button>
    <h2>AI Assistant</h2>
  </div>
  <div class="chat-section">
    <div class="message-board">
      <div class="message-output">
        <p class="user-message"></p>
        <p class="bot-message"></p>
      </div>
      <div class="message-input">
        <input
          type="text"
          id="message"
          name="message"
          placeholder="Enter a Message"
        />
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
